<div class="comment">
  <div class="cmt-body">
    <%= comment.body %>
  </div>
<!--
  <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' },
               class: 'btn btn-danger' %>
             -->
</div>
<hr>
