
  <div class="col-md-12">
    <div class="pull-right clearfix row">
      <%= link_to 'New article', new_article_path,
                              class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="col-md-12">
    <div style="background-color: #fff" class="clearfix row">
      <% @articles.each do |article| %>

          <div class="avatar_author">
          </div>
          <div class="post">
              <div class="name_author">
                <%= link_to "Author Name", "#", class: 'link' %>
              </div>
              <div class="link_post">
                <%= link_to article.title, article, class: 'link' %>
              </div>
              <hr>
          </div>

      <% end %>
      </div>
  </div>
